body {
    background-color: #ddd;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

div {
    background-color: #fff;
}

.header {
    padding: 1%;
}

.main {
    padding: 3%;
}
